.ui-jqgrid tr.jqgrow {
	outline-style: none;
	height: 25px;
}
.ui-jqgrid tr.jqgrow td {
	font-size:13px;
}
.ui-jqgrid tr.jqgrow td a{
	margin-left: 5px;
}
.grid-col {
  padding-left: 5px !important;
}

.comment_num{
	font-size: 12px;
    color: #999 !important;
}

.actionSLink {
	color:#3d49d8 !important;
	font-weight:bold;
}

.actionELink {
	color:#3d49d8 !important;
	font-weight:bold;
}

.actionDLink {
	color:#d31900 !important;
	font-weight:bold;
}

.actionSLinkFalse {
	pointer-events: none;
	cursor: default;
	color: gray !important;
	font-weight:bold;
}

.actionELinkFalse {
	pointer-events: none;
	cursor: default;
	color: gray !important;
	font-weight:bold;
}

.actionDLinkFalse {
	pointer-events: none;
	cursor: default;
	color: gray !important;
	font-weight:bold;
}

a[class*="Link"]:hover{
	text-decoration: underline !important;
}

.ui-jqgrid-labels .ui-th-column {
	border-right-color: transparent;
}

td {
    border-left: none !important;
    border-right: none !important;
}

.ui-widget-content{
	border: 0px;
	border-color:transparent !important;
}

tr[role="row"]{
	border-color:#dddddd !important;
}

tr[role="row"]:last-child{
	border-color:transparent !important;
}

table[id=boardTable] {
	border-bottom: 1px solid #3c4790 !important;
	border-collapse: unset;
}

div[id=gbox_boardTable] {
	border-top: 1px solid #3c4790 !important;
}

.writer_lf {
    float: left;
}

.writer_rf {
    float: right;
}

.writer {
    position: relative;
    font-size: 13px;
    background-color: #FCFCFC;
    height: 25px;
    padding: 0 2px;
    border-bottom: 1px solid #ded7d79c !important;
}

.header_div {
	background-color: #FCFCFC;
}

h2 { color: #3c4790; font-size: 24px; font-family: 'Nanum Gothic', sans-serif; letter-spacing: -1px; font-weight: bolder;}

h3 {
	padding: 0 2px;
}

.head_title{
	text-decoration: none;
	color: #3c4790;
}
.head_title:hover{
	 text-decoration:none !important;
	color: #3c4790;
}

.main_layout{
	width: 1051px;
	margin:0 auto;
}

.main_view_layout{
	width: 1051px;
	margin:0 auto;
	padding-top:50px;
}

.title_subject{ width: 1051px; line-height: 35px; font-size:16px;margin-bottom:0px !important; border-style: none; background-color: #ffffff; font-weight: bolder; border-top: 1px solid #3c4790; background-color: #FCFCFC }

.list_layout{
	width:1051px;
	display: block
}

.page_table{
	margin-right: auto;
	margin-left: auto;
}

/* .btn_write{ color:#fff;border-style:solid; background-color: #3c4790; font-weight: bold; border-radius: 4px; } */

.writer_dt{
}

.content_div{
/* 	padding-top: 20px; */
/* 	padding-bottom: 30px; */
}

.comment_div{ font-family: '굴림',Gulim;font-size: 13px;color: #333;font-weight: bold;margin-bottom: 5px; }

.comment_lf{
	float:left;
	margin-right: 5px;
}

.comment_rt{
	color: #d31900;
	float:left
}

.cmt_tbl{width:1051px; margin-top: 5px; border-top: 2px solid #525eaa;}

.cmt_tr{
/* 	border-bottom: 1px solid #ddd; */
}

.cmt_cu{
	font-family: '굴림',Gulim; font-size: 12px; color: #777;
}

.cmt_cnt{
	padding: 10px; font-family: '굴림',Gulim; font-size: 13px; color: #333; width:700px;
}

.cmt_inp{
	padding:10px; background-color:#fafafa; border-top: 2px solid #525eaa; border-bottom: 2px solid #525eaa;
}

.cmt_txta{
	width: 1010px; height: 78px; border: 1px solid #cecdce; background-color: #ffffff; resize: none; margin: 10px;
}

.cmt_txta_edi{
	width: 1050px; height: 250px; border: 1px solid #cecdce; background-color: #ffffff; resize: none;
}

.cmt_in_div{
	text-align-last: right;
}

.view_btn{
	color:#fff;border-style:solid; background-color: #3c4790; border-radius: 4px;
}

.list_btn_div{
	float: right; margin-top: 5px;
}

.write_sel{
	padding-bottom: 30px;
}

.view_ibtn_div{
	float: right; margin-top: 5px;
}

.view_edbtn_div{
	float: right; margin-top: 5px; margin-right: 10px
}
.content_ta{ width: 1051px; line-height: 35px;margin-left: -3px; border-style: none; background-color: #ffffff; resize: none; }

.gallview_head .gall_date, .gallview_head .gall_count, .gallview_head .gall_reply_num, .gallview_head .gall_comment {
    cursor: default;
}

.view_rec_num::before, .view_comment_count::before, .writer_dt::before {
    content: "";
    display: inline-block;
    width: 1px;
    height: 12px;
    background: #ccc;
    margin: 0 10px 0 6px;
    vertical-align: -2px;
}

.vote {
    text-align: center;
    margin: 15px;
}

.vote>.vb-white {
    color: #000;
    background-color: #fff;
    border-color: #ccc;
}

i.xi, i[class^="xi-"], i[class*=" xi-"] {
    display: inline-block;
    font-family: xeicon;
    speak: none;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
    color: #5d5a5a;
}

.cmic {
	font-size: small;
	color: #3a3a3a;
}

.date_time {
    font-size: 12px;
    color: #999;
}
