.ui-jqgrid tr.jqgrow {
	outline-style: none;
	height: 25px;
}
.ui-jqgrid tr.jqgrow td {
	font-size:13px;
}
.ui-jqgrid tr.jqgrow td a{
	margin-left: 5px;
}
.grid-col {
  padding-left: 5px !important;
}

.comment_num{
	font-size: 12px;
    color: #999 !important;
}

.actionLink {
	color:red !important;
	font-weight:bold;
}

a[class*="Link"]:hover{
	text-decoration: underline !important;
}
